<!--Article-Edit Page Handlebars-->
<link rel="stylesheet" type="text/css" href="./medium.css">

<section class="article-content"  data-t="{{headerText}}" data-hi="{{headerImg}}">
    <div class="edit" contenteditable="true">
        {{{tempBody}}}
    </div>

    <button class="save-changes-btn-js">Save Changes</button>
    <button class="discard-changes-btn-js">Discard Changes</button>
    <br>
    <a href="{{{originalUrl}}}">Original Url</a>
</section>

<script>$('div').removeAttr('style');</script>