<!--Index Paqge-->
<section role="region" class="section-default">

    <div class="node-authentication-area">
        <h1><i class="fa fa-lock" aria-hidden="true"></i> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" ><button class="btn btn-login"></button> Login</a>
        <a href="/signup" ><button class="btn btn-signup"></button> Signup</a>
        <a href="/auth/google" ><button class="btn btn-google"></button> Google+</a>
    </div>

</section>