<!--Landing Page Handlebars-->
<section class="landing-page-section">

    <div class="container" id="landing-home">
        <br>
        <img src="https://cdn.stocksnap.io/img-thumbs/960w/NQP6JNLYFI.jpg" alt="Typing Hipster with Thumbs and a Laptop">

        <div class="centered">
            <div class="centered-inner">
                <h1>Welcome to Medium Wiki</h1>
                <br>
                
                    <p>1) Sign in or Create an Account</p>
                    <p>2) Search and find any medium article of your choosing</p>
                    <p>3) Save it as the original, or edit it as you please</p>
                    <p>4) Access your saved articles on your profile list </p>
                    <p>5) Repeat! </p>
                
                <button id="login-btn-js" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href=location.href+'login'"> Login </button>
            <div>
        </div>

    </div>
    <div class="fake-footer">
        
    </div>
</section>

