
.postArticle-content {
    border: 0.5px solid black;
    max-height: 1000px;
    padding: 50px;
}

.postArticle-content img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 600px;
    
}

h2, h3, h4, p, .calculation{
    text-decoration: none ;
    color:black;
}

a:hover{
    text-decoration:none !important;
}

h2:hover{
    color:rgb(115, 201, 255);
}

.medium-search-results-title{
    text-align:center;
}