/*CSS For Medium Results*/
.postArticle-content {
    border: 0.5px solid black;
    max-height: 1000px;
    padding: 50px;
}

.postArticle-content img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 600px;
    
}

h2, h3, h4, p, .calculation{
    text-decoration: none ;
    color:black;
}

a:hover{
    text-decoration:none !important;
}

h2:hover{
    color:rgb(115, 201, 255);
}

.medium-search-results-title{
    text-align:center;
}


.article-content {
    border: 0.5px solid black;
    padding: 50px;
}

.edit img{
    width:35%;
    height:auto;
    border:0.1px solid rgb(221, 221, 221);
}